@page "/"

<PageTitle>Index</PageTitle>

<link href="wwwroot/css/app.css" rel="stylesheet" />
<div class="home">
    <h1 class="app-title">Translate Web</h1>

    <div class="container">
        <div class="jumbotron mt-5">
            <div>
                <h1 class="display-4">Welcome to Translate App!</h1>
                <br />
                <a class="btn btn-warning btn-lg text-white" href="/translate" role="button">Start Translating</a>

            </div>
            

            <img src="image/language.webp" alt="language image " height="700PX" width="1000PX"/>
            
            <hr class="my-4">

        </div>
    </div>
</div>